*{
  margin: 0px;
  padding: 0px;
}
#root{
  overflow: hidden;
}

.header {
  width: 70vw;
  height: 50vh;
  margin-left: 15vw;
  margin-top: 5vh;
  background-color: bisque;
}
.header > img{
  width: 100%;
  height: 100%;
}
main {
  margin: 5vh 5vw;
  height: 70vh;
}
.mainHead {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.mainHead > span{
  width: 50px;
  height: 50px;
  background-color: chocolate;
}
.buyList, .sellList{
  display: flex;
  /* justify-content: space-around; */
  padding-top: 20px;
  gap: 50px;
  width: 100%;
  overflow-x: auto;
/* *최초 지시의 경우 hidden으로 지시를 받았으나 표현하고자 하는 레이아웃을 드러내고자 오토로 조정, 추후 지시 시 hidden으로 변경? */
}

.item{
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  background-color: rgb(255, 135, 159);

}

/* *모달 창 프로토 타입 */
.modal {
  display: none; /* 기본적으로 숨김 */
  position: fixed; /* 페이지 스크롤과 상관없이 항상 같은 위치 */
  z-index: 1; /* 상위 레벨에 표시 */
  left: 0;
  top: 0;
  width: 100%; /* 전체 너비 */
  height: 100%; /* 전체 높이 */
  overflow: auto; /* 스크롤 가능 */
  background-color: rgba(0,0,0,0.5); /* 반투명 검은색 배경 */
}

/* 모달 콘텐츠 */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 상단에서 약간 떨어지고 중앙에 위치 */
  padding: 20px;
  border: 1px solid #888;
  width: 90vw; /* 너비 설정 */
  height: 90vh; /* 높이 설정 */
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto; /* 내용이 많으면 스크롤 */
  border-radius: 8px;
  /* display: flex; */
}

/* 닫기 버튼 스타일 */
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}